<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
	
{#	<link href="{{ asset('bundles/facebessnippet/css/reset.css') }}" rel="stylesheet" type="text/css" /> #}
	<link href="{{ asset('bundles/facebessnippet/css/grid.960.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/facebessnippet/css/main.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
      <header class="container_12">
	  {% block header %}{% endblock %}
      
      {% block nav %}
      <nav id="sidebar" class="grid_4 prefix_2">
	<ul>
	  {% block sidebar %}
	  <li><a href="/">Home</a></li>
	  <li><a href="{{ path('tag') }}">Tags</a></li>
	  <li><a href="{{ path('snippet') }}">Snippet</a></li>
	  {% endblock %}
	</ul>
      </nav>
      {% endblock %}
      </header>

      <div class="container_12">
        {% block body %}{% endblock %}
      
	<footer class="grid_12">
	  {% block footer %}
	  CopyLeft {{ 'now' | date('Y-m') }} by Facebes
	  {% endblock %}
	</footer>
      </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
