{% extends 'FacebesSnippetBundle::layout.html.twig' %}

{% block pagesubtitle %} Language List {% endblock %} 
{% block contenido %}

<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Syntax</th>
            <th>Icon</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
    <tr class="{{ cycle(['par','impar'],loop.index) }}">
            <td><a href="{{ path('language_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.syntax }}</td>
            <td>{{ entity.icon }}</td>
            <td>
	      <a href="{{ path('language_edit', { 'id': entity.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block lateral %}
<ul>
    <li>
        <a href="{{ path('language_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
