{% extends 'FacebesSnippetBundle::layout.html.twig' %}

{% block title %} Edit Snippet {% endblock %}
{% block pagesubtitle %}Edit Snippet {% endblock %}

{% block contenido %}
<form action="{{ path('snippet_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>
{% endblock %}
{% block lateral %}
<ul class="record_actions">
    <li>
        <a href="{{ path('snippet') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('snippet_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
