{% extends 'FacebesSnippetBundle::layout.html.twig' %}

{% block pagesubtitle %} Listado de Snippets {% endblock %} 

{% block contenido %}
<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Createdat</th>
            <th>Updatedat</th>
	    <th>Tags</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ loop.index is even ? 'par':'impar' }}">
            <td><a href="{{ path('snippet_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.createdAt|date('Y-m-d') }}</td>
            <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
             <td>
	    {% for tag in entity.tags %}
             <a href="{{ path('tag_show', { 'id': tag.id }) }}">{{ tag.name }}</a>
	    {% endfor %}
            </td>
	    <td>
              <a href="{{ path('snippet_edit', { 'id': entity.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block lateral %}
<ul>
    <li>
        <a href="{{ path('snippet_new') }}">
            Create a new entry
        </a>
    </li>
    <li>
        <a href="{{ path('tag') }}">
            Listado de tags
        </a>
    </li>
</ul>

{% endblock %}
