{% extends 'FacebesSnippetBundle::layout.html.twig' %}

{% block title %} Super fun Snippet {% endblock %}
{% block head %}

{% endblock %}

{% block sidebar %}
<a href="google.es">Super</a>
{{ parent() }}
{% endblock %}

{% block body %}
<h1>Snippet</h1>

<table class="record_properties">
    <tbody> 
        <tr>
            <th>Name</th>                <td>{{ entity.name }}</td>        
</tr>
        <tr>
            <th>Description</th>                <td>{{ entity.description }}</td>        </tr>
        <tr>
            <th>Code</th>                <td><pre class="brush: cpp">{{ entity.code }}</pre></td>        </tr>
        <tr>
            <th>Createdat</th>                <td>{{ entity.createdAt|date('Y-m-d H:i') }}</td>        </tr>
        <tr>
            <th>Updatedat</th>                <td>{{ entity.updatedAt|date('Y-m-d H:i') }}</td>        </tr>

<tr>
<th>Tags</th>
             <td>
	    {% for tag in entity.tags %}
             <a href="{{ path('tag_show', { 'id': tag.id }) }}">{{ tag.name }}</a>
	    {% endfor %}
            </td>
</tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('snippet') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('snippet_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('snippet_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
