{% extends 'FacebesSnippetBundle::layout.html.twig' %}

{% block title %} Show Snippet {% endblock %}

{% block stylesheets %}
    <script src="{{ asset('bundles/facebessnippet/js/syntaxhighlighter/xregexp.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/facebessnippet/js/syntaxhighlighter/shCore.js') }}" type="text/javascript" ></script>
    <script src="{{ asset('bundles/facebessnippet/js/syntaxhighlighter/shAutoloader.js') }}" type="text/javascript"></script>

    <link href="{{ asset('bundles/facebessnippet/css/syntaxhighlighter/shCore.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/facebessnippet/css/syntaxhighlighter/shThemeRDark.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block sidebar %}
{{ parent() }}
<li><a href="google.es">Super</a></li>
{% endblock %}


{% block pagesubtitle %}Show Snippet {% endblock %}
{% block contenido %}
<table class="record_properties">
    <tbody> 
       <tr>
            <th>Name</th>                <td>{{ entity.name }}</td>        
</tr>
        <tr>
            <th>Description</th>                <td>{{ entity.description }}</td>        </tr>
        <tr>
            <th>Code</th>                <td><pre class="brush: cpp">{{ entity.code }}</pre></td>        </tr>
        <tr>
            <th>Createdat</th>                <td>{{ entity.createdAt|date('Y-m-d H:i') }}</td>        </tr>
        <tr>
            <th>Updatedat</th>                <td>{{ entity.updatedAt|date('Y-m-d H:i') }}</td>        </tr>

<tr>
<th>Tags</th>
             <td>
	    {% for tag in entity.tags %}
             <a href="{{ path('tag_show', { 'id': tag.id }) }}">{{ tag.name }}</a>
	    {% endfor %}
            </td>
</tr>
    </tbody>
</table>
{% endblock %}

{% block lateral %}
<ul class="record_actions">
    <li>
        <a href="{{ path('snippet') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('snippet_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('snippet_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}



{% block javascripts %}    
    <script type="text/javascript">
      SyntaxHighlighter.autoloader(
      'js jscript javascript {{ asset('bundles/facebessnippet/js/syntaxhighlighter/scripts/shBrushJScript.js') }}',
      'cpp c arduino         {{ asset('bundles/facebessnippet/js/syntaxhighlighter/scripts/shBrushCpp.js') }}'
      );
      SyntaxHighlighter.all();
    </script>
{% endblock %}
