{% extends 'FacebesSnippetBundle::layout.html.twig' %}

{% block pagesubtitle %} List Tags {% endblock %} 
{% block contenido %}
<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ loop.index is even ? 'par':'impar' }}">
            <td><a href="{{ path('tag_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            <td>{{ entity.description }}</td>
            <td>
	      <a href="{{ path('tag_edit', { 'id': entity.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block lateral %}
<ul>
    <li>
        <a href="{{ path('tag_new') }}">
            Create a new entry
        </a>
    </li>
    <li>
        <a href="{{ path('snippet') }}">
         Listado de Snippets
        </a>
    </li>
</ul>
{% endblock %}