{% extends 'FacebesSnippetBundle::layout.html.twig' %}

{% block pagesubtitle %} Show Tags {% endblock %} 
{% block contenido %}

<table class="record_properties">
    <tbody>
        <tr>
            <th>Name</th>                <td>{{ entity.name }}</td>        </tr>
        <tr>
            <th>Description</th>                <td>{{ entity.description }}</td>        </tr>

{% if entity.parent %}
    <tr>
      <th>Parent</th>
      <td><a href="{{ path('tag_show',{ 'id': entity.parent.id }) }}">{{ entity.parent }}</a></td>
    </tr>
 {% endif %}
{% if hasChildren %}
    <tr>
     <th>Childs</th>
     <td>
      {% for children in entity.children %}
         <div class="{{ cycle(['odd','even'],loop.index) }}">
            <a href="{{ path('tag_show', { 'id': children.id }) }}">{{ children.name }}</a>
         </div>
      {% endfor %}
     </td>
    </tr>
{% endif %}
    </tbody>
</table>
{% endblock %}
{% block lateral %}
<ul class="record_actions">
    <li>
        <a href="{{ path('tag') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tag_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('tag_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}